In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( '../Datasets/kc_house_data.csv' )

In [14]:
# data dimensions
print( 'Number of rows: {}'.format( data.shape[0] ) )
print( 'Number of columns: {}'.format( data.shape[1] ) )

# data types
data.dtypes

# convert object to date
data['date'] = pd.to_datetime( data['date'] )

#descriptive statistics
num_attributes = data.select_dtypes( include=['int64', 'float64'] )

# central tendency - media, mediana
pd.set_option('display.float_format', lambda x: '%.2f' % x)
media = pd.DataFrame( num_attributes.apply( np.mean, axis=0 ) )
mediana = pd.DataFrame( num_attributes.apply( np.median, axis=0 ) )

# dispersion - std, min, max
std = pd.DataFrame( num_attributes.apply( np.std, axis=0 ) )
min_ = pd.DataFrame( num_attributes.apply( np.min, axis=0 ) )
max_ = pd.DataFrame( num_attributes.apply( np.max, axis=0 ) )

df1 = pd.concat( [max_, min_, media, mediana, std], axis=1 ).reset_index()
df1.columns = ['attributes', 'maximo', 'minimo', 'media', 'mediana', 'std']

print(df1)

# data dimensions
print( 'Number of rows: {}'.format( df1.shape[0] ) )
print( 'Number of columns: {}'.format( df1.shape[1] ) )

Number of rows: 21613
Number of columns: 21
       attributes        maximo     minimo         media       mediana  \
0              id 9900000190.00 1000102.00 4580301520.86 3904930410.00
1           price    7700000.00   75000.00     540088.14     450000.00
2        bedrooms         33.00       0.00          3.37          3.00
3       bathrooms          8.00       0.00          2.11          2.25
4     sqft_living      13540.00     290.00       2079.90       1910.00
5        sqft_lot    1651359.00     520.00      15106.97       7618.00
6          floors          3.50       1.00          1.49          1.50
7      waterfront          1.00       0.00          0.01          0.00
8            view          4.00       0.00          0.23          0.00
9       condition          5.00       1.00          3.41          3.00
10          grade         13.00       1.00          7.66          7.00
11     sqft_above       9410.00     290.00       1788.39       1560.00
12  sqft_basement       4820.00       0.00        291.51          0.00
13       yr_built       2015.00    1900.00       1971.01       1975.00
14   yr_renovated       2015.00       0.00         84.40          0.00
15        zipcode      98199.00   98001.00      98077.94      98065.00
16            lat         47.78      47.16         47.56         47.57
17           long       -121.31    -122.52       -122.21       -122.23
18  sqft_living15       6210.00     399.00       1986.55       1840.00
19     sqft_lot15     871200.00     651.00      12768.46       7620.00

             std
0  2876499023.43
1      367118.70
2           0.93
3           0.77
4         918.42
5       41419.55
6           0.54
7           0.09
8           0.77
9           0.65
10          1.18
11        828.07
12        442.56
13         29.37
14        401.67
15         53.50
16          0.14
17          0.14
18        685.38
19      27303.55
Number of rows: 20
Number of columns: 6