In [6]:
import pandas as pd

from IPython.display import display
from geopy.geocoders import Nominatim

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [7]:
data = pd.read_csv( '../Datasets/data-filter.csv' )

In [8]:
# new date format
data['year'] = pd.to_datetime( data['date'] ).dt.strftime( '%Y' )
data['year_week'] = pd.to_datetime( data['date'] ).dt.strftime( '%Y-%U' )

In [9]:
# create is_waterfront row
data['is_waterfront'] = data['waterfront'].apply( lambda x: 'no' if x == 0 else 'yes' )

In [22]:
# create level for each quartile of price
quartile = list( data['price'].quantile([0.25, 0.5, 0.75]) )

data['price_level'] = data['price'].apply( lambda x: 'level_one'   if x <= quartile[0] else
                                                     'level_two'   if ( x > quartile[0] ) & ( x <= quartile[1] ) else
                                                     'level_three' if ( x > quartile[1] ) & ( x <= quartile[2] ) else
                                                     'level_four' )

[321837.5, 450000.0, 645000.0]

In [25]:
data[['price', 'price_level']].sample(20)

           price  price_level
17889  440000.00    level_two
17368  421200.00    level_two
4994   637000.00  level_three
16324  180000.00    level_one
12534  530000.00  level_three
1375   320000.00    level_one
15993  465000.00  level_three
6770  1335000.00   level_four
14080  260000.00    level_one
6064   228000.00    level_one
21420  374950.00    level_two
18156  365000.00    level_two
9083   585888.00  level_three
921    342000.00    level_two
10924  305000.00    level_one
7149   725000.00   level_four
5308   915000.00   level_four
4506   303000.00    level_one
8095   526000.00  level_three
17501  431000.00    level_two

In [69]:
# create a condition status
condition = list( data['condition'].unique() )
condition.sort()

data['status'] = data['condition'].apply( lambda x: 'bad' if x <= condition[1] else
                                                    'regular' if x == condition[2] else
                                                    'good' if x == condition[3] else 'excelent' )

In [80]:
data.loc[data['condition'] == 5, ['condition','status']].sample(10)

       condition    status
8253           5  excelent
721            5  excelent
11720          5  excelent
8108           5  excelent
16118          5  excelent
10486          5  excelent
1336           5  excelent
8892           5  excelent
18512          5  excelent
18547          5  excelent

In [ ]:
# create adress data

# create empty rows:
data['road'] = 'NA'
data['house_number'] = 'NA'
data['neighbourhood'] = 'NA'
data['postcode'] = 'NA'
data['city'] = 'NA'
data['state'] = 'NA'

# initialize API Nominatim
geolocator = Nominatim( user_agent='geopiRequest' )

response.raw

for i in range( len( data ) ):
    print( 'Loop : {}/{}'.format( i, len(data) ) )
    # create query
    query = str( data.loc[i,'lat'] ) + ',' + str( data.loc[i,'long'] )
    
    # API request
    response = geolocator.reverse( query, timeout=None )
    
    # populate data:
    if 'road' in response.raw['address']:
        data.loc[i, 'road'] = response.raw['address']['road']
        
    if 'house_number' in response.raw['address']:
        data.loc[i, 'house_number'] = response.raw['address']['house_number']
    
    if 'neighbourhood' in response.raw['address']:
        data.loc[i, 'neighbourhood'] = response.raw['address']['neighbourhood']
    
    if 'postcode' in response.raw['address']:
        data.loc[i, 'postcode'] = response.raw['address']['postcode']
    
    if 'city' in response.raw['address']:
        data.loc[i, 'city'] = response.raw['address']['city']
    
    if 'state' in response.raw['address']:
        data.loc[i, 'state'] = response.raw['address']['state']

Loop : 0/21612
Loop : 1/21612
Loop : 2/21612
Loop : 3/21612
Loop : 4/21612
Loop : 5/21612
Loop : 6/21612
Loop : 7/21612
Loop : 8/21612
Loop : 9/21612
Loop : 10/21612
Loop : 11/21612
Loop : 12/21612
Loop : 13/21612
Loop : 14/21612
Loop : 15/21612
Loop : 16/21612
Loop : 17/21612
Loop : 18/21612
Loop : 19/21612
Loop : 20/21612
Loop : 21/21612
Loop : 22/21612
Loop : 23/21612
Loop : 24/21612
Loop : 25/21612
Loop : 26/21612
Loop : 27/21612
Loop : 28/21612
Loop : 29/21612
Loop : 30/21612
Loop : 31/21612
Loop : 32/21612
Loop : 33/21612
Loop : 34/21612
Loop : 35/21612
Loop : 36/21612
Loop : 37/21612
Loop : 38/21612
Loop : 39/21612
Loop : 40/21612
Loop : 41/21612
Loop : 42/21612
Loop : 43/21612
Loop : 44/21612
Loop : 45/21612
Loop : 46/21612
Loop : 47/21612
Loop : 48/21612
Loop : 49/21612
Loop : 50/21612
Loop : 51/21612
Loop : 52/21612
Loop : 53/21612
Loop : 54/21612
Loop : 55/21612
Loop : 56/21612
Loop : 57/21612
Loop : 58/21612
Loop : 59/21612
Loop : 60/21612
Loop : 61/21612
Loop : 62/21612
Loop : 63/21612
Loop : 64/21612
Loop : 65/21612
Loop : 66/21612
Loop : 67/21612
Loop : 68/21612
Loop : 69/21612
Loop : 70/21612
Loop : 71/21612
Loop : 72/21612
Loop : 73/21612
Loop : 74/21612
Loop : 75/21612
Loop : 76/21612
Loop : 77/21612
Loop : 78/21612
Loop : 79/21612
Loop : 80/21612
Loop : 81/21612
Loop : 82/21612
Loop : 83/21612
Loop : 84/21612
Loop : 85/21612
Loop : 86/21612
Loop : 87/21612
Loop : 88/21612
Loop : 89/21612
Loop : 90/21612
Loop : 91/21612
Loop : 92/21612
Loop : 93/21612
Loop : 94/21612
Loop : 95/21612
Loop : 96/21612
Loop : 97/21612
Loop : 98/21612
Loop : 99/21612
Loop : 100/21612
Loop : 101/21612
Loop : 102/21612
Loop : 103/21612
Loop : 104/21612
Loop : 105/21612
Loop : 106/21612
Loop : 107/21612
Loop : 108/21612
Loop : 109/21612
Loop : 110/21612
Loop : 111/21612
Loop : 112/21612
Loop : 113/21612
Loop : 114/21612
Loop : 115/21612
Loop : 116/21612
Loop : 117/21612
Loop : 118/21612
Loop : 119/21612
Loop : 120/21612
Loop : 121/21612
Loop : 122/21612
Loop : 123/21612
Loop : 124/21612
Loop : 125/21612
Loop : 126/21612
Loop : 127/21612
Loop : 128/21612
Loop : 129/21612
Loop : 130/21612
Loop : 131/21612
Loop : 132/21612
Loop : 133/21612
Loop : 134/21612
Loop : 135/21612
Loop : 136/21612
Loop : 137/21612
Loop : 138/21612
Loop : 139/21612
Loop : 140/21612
Loop : 141/21612
Loop : 142/21612
Loop : 143/21612
Loop : 144/21612
Loop : 145/21612
Loop : 146/21612
Loop : 147/21612
Loop : 148/21612
Loop : 149/21612
Loop : 150/21612
Loop : 151/21612
Loop : 152/21612
Loop : 153/21612
Loop : 154/21612
Loop : 155/21612
Loop : 156/21612
Loop : 157/21612
Loop : 158/21612
Loop : 159/21612
Loop : 160/21612
Loop : 161/21612
Loop : 162/21612
Loop : 163/21612
Loop : 164/21612
Loop : 165/21612
Loop : 166/21612
Loop : 167/21612
Loop : 168/21612
Loop : 169/21612
Loop : 170/21612
Loop : 171/21612
Loop : 172/21612
Loop : 173/21612
Loop : 174/21612
Loop : 175/21612
Loop : 176/21612
Loop : 177/21612
Loop : 178/21612
Loop : 179/21612
Loop : 180/21612
Loop : 181/21612
Loop : 182/21612
Loop : 183/21612
Loop : 184/21612
Loop : 185/21612
Loop : 186/21612
Loop : 187/21612
Loop : 188/21612
Loop : 189/21612
Loop : 190/21612
Loop : 191/21612
Loop : 192/21612
Loop : 193/21612
Loop : 194/21612
Loop : 195/21612
Loop : 196/21612
Loop : 197/21612
Loop : 198/21612
Loop : 199/21612
Loop : 200/21612
Loop : 201/21612
Loop : 202/21612
Loop : 203/21612
Loop : 204/21612
Loop : 205/21612
Loop : 206/21612
Loop : 207/21612
Loop : 208/21612
Loop : 209/21612
Loop : 210/21612
Loop : 211/21612
Loop : 212/21612
Loop : 213/21612
Loop : 214/21612
Loop : 215/21612
Loop : 216/21612
Loop : 217/21612
Loop : 218/21612
Loop : 219/21612
Loop : 220/21612
Loop : 221/21612
Loop : 222/21612
Loop : 223/21612
Loop : 224/21612
Loop : 225/21612
Loop : 226/21612
Loop : 227/21612
Loop : 228/21612
Loop : 229/21612
Loop : 230/21612
Loop : 231/21612
Loop : 232/21612
Loop : 233/21612
Loop : 234/21612
Loop : 235/21612
Loop : 236/21612
Loop : 237/21612
Loop : 238/21612
Loop : 239/21612
Loop : 240/21612
Loop : 241/21612
Loop : 242/21612
Loop : 243/21612
Loop : 244/21612
Loop : 245/21612
Loop : 246/21612
Loop : 247/21612
Loop : 248/21612
Loop : 249/21612
Loop : 250/21612
Loop : 251/21612
Loop : 252/21612
Loop : 253/21612
Loop : 254/21612
Loop : 255/21612
Loop : 256/21612
Loop : 257/21612
Loop : 258/21612
Loop : 259/21612
Loop : 260/21612
Loop : 261/21612
Loop : 262/21612
Loop : 263/21612
Loop : 264/21612
Loop : 265/21612
Loop : 266/21612
Loop : 267/21612
Loop : 268/21612
Loop : 269/21612
Loop : 270/21612
Loop : 271/21612
Loop : 272/21612
Loop : 273/21612
Loop : 274/21612
Loop : 275/21612
Loop : 276/21612
Loop : 277/21612
Loop : 278/21612
Loop : 279/21612
Loop : 280/21612
Loop : 281/21612
Loop : 282/21612
Loop : 283/21612
Loop : 284/21612
Loop : 285/21612
Loop : 286/21612
Loop : 287/21612
Loop : 288/21612
Loop : 289/21612
Loop : 290/21612
Loop : 291/21612
Loop : 292/21612
Loop : 293/21612
Loop : 294/21612
Loop : 295/21612
Loop : 296/21612
Loop : 297/21612
Loop : 298/21612
Loop : 299/21612
Loop : 300/21612
Loop : 301/21612
Loop : 302/21612
Loop : 303/21612
Loop : 304/21612
Loop : 305/21612
Loop : 306/21612
Loop : 307/21612
Loop : 308/21612
Loop : 309/21612
Loop : 310/21612
Loop : 311/21612
Loop : 312/21612
Loop : 313/21612
Loop : 314/21612
Loop : 315/21612
Loop : 316/21612
Loop : 317/21612

In [90]:
# initialize API Nominatim
geolocator = Nominatim( user_agent='geopiRequest' )

# make query
query = '47.51, -122.26'

# API request:
response = geolocator.reverse( query )

response.raw

{'place_id': 159595021,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 236673776,
 'lat': '47.50987735',
 'lon': '-122.26001908123574',
 'display_name': '5746, South Ryan Street, Rainier Beach, Seattle, King County, Washington, 98178, United States',
 'address': {'house_number': '5746',
  'road': 'South Ryan Street',
  'neighbourhood': 'Rainier Beach',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98178',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.509808', '47.5099694', '-122.2600792', '-122.259959']}

In [86]:
data[['lat', 'long']].head()

    lat    long
0 47.51 -122.26
1 47.72 -122.32
2 47.74 -122.23
3 47.52 -122.39
4 47.62 -122.05

In [14]:
display( data )

,id,date,price,bedrooms,bathrooms,floors,waterfront,condition,yr_built,yr_renovated,zipcode,lat,long,year,year_week,is_waterfront
0,7129300520,2014-10-13,221900.0,3,1.00,1.0,0,3,1955,0,98178,47.5112,-122.257,2014,2014-41,no
1,6414100192,2014-12-09,538000.0,3,2.25,2.0,0,3,1951,1991,98125,47.7210,-122.319,2014,2014-49,no
2,5631500400,2015-02-25,180000.0,2,1.00,1.0,0,3,1933,0,98028,47.7379,-122.233,2015,2015-08,no
3,2487200875,2014-12-09,604000.0,4,3.00,1.0,0,5,1965,0,98136,47.5208,-122.393,2014,2014-49,no
4,1954400510,2015-02-18,510000.0,3,2.00,1.0,0,3,1987,0,98074,47.6168,-122.045,2015,2015-07,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21607,263000018,2014-05-21,360000.0,3,2.50,3.0,0,3,2009,0,98103,47.6993,-122.346,2014,2014-20,no
21608,6600060120,2015-02-23,400000.0,4,2.50,2.0,0,3,2014,0,98146,47.5107,-122.362,2015,2015-08,no
21609,1523300141,2014-06-23,402101.0,2,0.75,2.0,0,3,2009,0,98144,47.5944,-122.299,2014,2014-25,no
21610,291310100,2015-01-16,400000.0,3,2.50,2.0,0,3,2004,0,98027,47.5345,-122.069,2015,2015-02,no
21611,1523300157,2014-10-15,325000.0,2,0.75,2.0,0,3,2008,0,98144,47.5941,-122.299,2014,2014-41,no

In [9]:
data[['id','is_waterfront']].groupby( 'is_waterfront' ).count()

                  id
is_waterfront
no             21449
yes              163