In [11]:
import pandas as pd
from IPython.display import display

In [2]:
data = pd.read_csv( '../Datasets/data-filter.csv' )

In [3]:
# new date format
data['year'] = pd.to_datetime( data['date'] ).dt.strftime( '%Y' )
data['year_week'] = pd.to_datetime( data['date'] ).dt.strftime( '%Y-%U' )

In [7]:
# create is_waterfront row
data['is_waterfront'] = data['waterfront'].apply( lambda x: 'no' if x == 0 else 'yes' )

In [14]:
display( data )

,id,date,price,bedrooms,bathrooms,floors,waterfront,condition,yr_built,yr_renovated,zipcode,lat,long,year,year_week,is_waterfront
0,7129300520,2014-10-13,221900.0,3,1.00,1.0,0,3,1955,0,98178,47.5112,-122.257,2014,2014-41,no
1,6414100192,2014-12-09,538000.0,3,2.25,2.0,0,3,1951,1991,98125,47.7210,-122.319,2014,2014-49,no
2,5631500400,2015-02-25,180000.0,2,1.00,1.0,0,3,1933,0,98028,47.7379,-122.233,2015,2015-08,no
3,2487200875,2014-12-09,604000.0,4,3.00,1.0,0,5,1965,0,98136,47.5208,-122.393,2014,2014-49,no
4,1954400510,2015-02-18,510000.0,3,2.00,1.0,0,3,1987,0,98074,47.6168,-122.045,2015,2015-07,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21607,263000018,2014-05-21,360000.0,3,2.50,3.0,0,3,2009,0,98103,47.6993,-122.346,2014,2014-20,no
21608,6600060120,2015-02-23,400000.0,4,2.50,2.0,0,3,2014,0,98146,47.5107,-122.362,2015,2015-08,no
21609,1523300141,2014-06-23,402101.0,2,0.75,2.0,0,3,2009,0,98144,47.5944,-122.299,2014,2014-25,no
21610,291310100,2015-01-16,400000.0,3,2.50,2.0,0,3,2004,0,98027,47.5345,-122.069,2015,2015-02,no
21611,1523300157,2014-10-15,325000.0,2,0.75,2.0,0,3,2008,0,98144,47.5941,-122.299,2014,2014-41,no

In [9]:
data[['id','is_waterfront']].groupby( 'is_waterfront' ).count()

                  id
is_waterfront
no             21449
yes              163